name: Release
on:
  push:
    branches:
      - main

permissions:
  contents: write # Create release tag.
  packages: write # Publish packages.
  id-token: write # OIDC for npm provenance
  issues: write # Comment on issues fixed with this release.
  pull-requests: write # Comment on PRs fixed with this release.

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    env:
      NPM_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # We need to fetch all history for semantic-release to work properly.
          fetch-depth: 0

      - name: Prepare
        uses: pnpm/action-setup@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Install
        run: |
          pnpm install --frozen-lockfile

      - name: Verify
        run: npm audit signatures

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_AUTHOR_NAME: ${{ secrets.GIT_AUTHOR_NAME }}
          GIT_AUTHOR_EMAIL: ${{ secrets.GIT_AUTHOR_EMAIL }}
          GIT_COMMITTER_NAME: ${{ secrets.GIT_AUTHOR_NAME }}
          GIT_COMMITTER_EMAIL: ${{ secrets.GIT_AUTHOR_EMAIL }}
        run: pnpm exec semantic-release
